body {
    margin: auto;
    max-width: 100%;
    align-content: center;
    width: 850px;
    height: 960px;
}

.font-face {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    margin-block-end: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#main {
    float: left;
    width: 61%;
    background: aliceblue;
    margin: auto;
}

#side {
    float: right;
    width: 27%;
    background: rgb(185, 241, 255);
    margin: auto;
}

#main,
#side {
    height: 95%;
    padding: 3%;
}

.test {
    display: block;
    font-size: 35px;
    margin-block-start: 50px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    line-height: 5px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border-radius: 120px;
    width: 220px;
    height: 220px;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(173, 200, 241);
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 19px;
}

li {
    list-style-type: none;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.text-side {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-weight: bold;
    font-size: 16px;
}